
/* Stylesheet content from css/Motor_Vehicle_Assessment_Report_POC.css in folder ipad */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an iPad application */
body {
	height: auto;
	overflow: auto;
}

/*Worklight container div */
#content {
	width: 100%;
}
