<script type="text/javascript">
	dojo.require("dijit.form.HorizontalSlider");
    dojo.require("dijit.form.CheckBox");
</script>
<form id="batteryForm">
	<label id="sim_battery_plugedIn_label"></label> <input
		type="checkbox" name="pluggedIn" data-dojo-type="dijit.form.CheckBox"
		id="sim_battery_pluggedIn" value="pluggedIn"
		onChange="getService('Battery').onChange(this.checked);" /> <br /> <label
		id="sim_battery_batteryLevel_label"></label> <span
		id="sim_battery_batteryLevel"></span> <br> <br>

	<div data-dojo-type="dijit.form.HorizontalSlider"
	    data-dojo-id="sim_battery_hslider"
		value="95" minimum="0" maximum="100" discreteValues="21"
		intermediateChanges="true" showButtons="false" style="width: 300px;">

		<div data-dojo-type="dijit.form.HorizontalRule"
			container="bottomDecoration" count="11" style="height: 5px;"></div>
		<ol data-dojo-type="dijit.form.HorizontalRuleLabels"
			id="sim_battery_hrulesLabel" container="bottomDecoration"
			data-dojo-props="getLabels : function() {
			var n = dojo.i18n.getLocalization('pgsim', 'pg');
			return n.sim_battery_hrule_labels.split(',')}"
			style="height: 1.5em; font-size: 75%; color: gray;">
		</ol>
	</div>
</form>

