<table style="cellspacing: 10;">
	<tr>
		<td><label id="sim_compass_heading_label" for="heading"></label>
			<div data-dojo-type="dijit.form.TextBox" data-dojo-id="sim_compass_heading" style="width:5em;"></div>
		</td>
	</tr>
	<tr>
	<td>
	<div class="noSelect" data-dojo-id="sim_compass_widget" data-dojo-type="widgets.Compass"
		data-dojo-props="background : [10, 20, 200, 0],
		        color : [0x20, 0x20, 0x20],
		        title : 'Heading',		        
		        width : 250,
		        height : 250,
		        min : 0,
		        max	: 360,
		        majorTicksInterval : 30,
		        startAngle : 0,
		        endAngle : 360,
		        value : 0" ></div>
	</td>
	</tr>
</table>
<button data-dojo-type="dijit.form.Button" type="button" data-dojo-id="sim_compass_next_button"
	onClick="getService('Compass').nextHeading();"></button>
<button data-dojo-type="dijit.form.Button" type="button" data-dojo-id="sim_compass_startStop_button"
	onClick="getService('Compass').startStopTimer('compassStartStopTimerButton'); "></button>
