
<table style="cellspacing: 10;">
	<tr>
		<td><label for="name" id="sim_device_select_label"></label></td>
		<td><button data-dojo-type="dijit.form.Button" type="button"
				data-dojo-id="sim_device_previous_button"
				onClick="getService('Device').previousDevice()"></button></td>
		<td><button data-dojo-type="dijit.form.Button" type="button"
				data-dojo-id="sim_device_next_button"
				onClick="getService('Device').nextDevice()"></button></td>
	</tr>
</table>
<table style="cellspacing: 10;">
	<tr>
		<td><label for="name">Name:</label></td>
		<td><input type="text" name="name" value="" readOnly="true"
			data-dojo-type="dijit.form.TextBox" id="name"
			onchange="getService('Device').saveDevice()" /></td>
	</tr>
	<tr>
		<td><label for="platform">Platform:</label></td>
		<td><input type="text" name="platform" value="" readOnly="true"
			data-dojo-type="dijit.form.TextBox" id="platform"
			onchange="getService('Device').saveDevice()" /></td>
	</tr>

	<tr>
		<td><label for="version">Version:</label></td>
		<td><input type="text" name="version" value="" readOnly="true"
			data-dojo-type="dijit.form.TextBox" id="version"
			onchange="getService('Device').saveDevice()" /></td>
	</tr>

	<tr>
		<td><label for="uuid">UUID:</label></td>
		<td><input type="text" name="uuid" value="" readOnly="true"
			data-dojo-type="dijit.form.TextBox" id="uuid"
			onchange="getService('Device').saveDevice()" /></td>
	</tr>

	<tr>
		<td><label for="deviceSize">Size:</label></td>
		<td><input type="text" name="deviceWidth" value=""
			readOnly="true" data-dojo-type="dijit.form.TextBox" id="deviceWidth"
			style="width: 50px;" onchange="getService('Device').setDeviceSize()" />
			x <input type="text" name="deviceHeight" value=""
			data-dojo-type="dijit.form.TextBox" id="deviceHeight" readOnly="true"
			style="width: 50px;" onchange="getService('Device').setDeviceSize()" />
			(w x h pixels)</td>
	</tr>
	<tr>
		<td><label for="deviceOrient">Orientation:</label></td>
		<td>
			<form id="deviceOrientForm">
				<input type="radio" name="deviceOrient" disabled='disabled'
					id="deviceOrientProfile" value="p" checked
					onchange="getService('Device').setDeviceSize()" /> <label
					for="deviceOrientProfile">Profile</label> <input type="radio"
					name="deviceOrient" disabled='disabled' id="deviceOrientLandscape"
					value="l" onchange="getService('Device').setDeviceSize()" /> <label
					for="deviceOrientLandscape">Landscape</label>
			</form></td>
	</tr>
	<tr>
		<td><label for="cordova">Cordova:</label></td>
		<td><input type="text" name="cordova" value="" readOnly="true"
			data-dojo-type="dijit.form.TextBox" id="cordova"
			onchange="getService('Device').saveDevice()" /></td>
	</tr>
</table>
