<div id="geoloc">
	<table style="cellspacing: 10;">
		<tr>
			<td><label id="sim_geoloc_latitude_label" for="geoLat"></label>
			</td>
			<td><input type="text" name="geoLat" value=""
				data-dojo-type="dijit.form.TextBox" id="geoLat" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_longitude_label" for="geoLng"></label>
			</td>
			<td><input type="text" name="geoLng" value=""
				data-dojo-type="dijit.form.TextBox" id="geoLng" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_accuracy_label" for="geoAcc"></label>
			</td>
			<td><input type="text" name="geoAcc" value=""
				data-dojo-type="dijit.form.TextBox" id="geoAcc" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_altitude_label" for="geoAlt"></label>
			</td>
			<td><input type="text" name="geoAlt" value=""
				data-dojo-type="dijit.form.TextBox" id="geoAlt" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_altitudeAccuracy_label" for="geoAltAcc"></label></td>
			<td><input type="text" name="geoAltAcc" value=""
				data-dojo-type="dijit.form.TextBox" id="geoAltAcc" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_heading_label" for="geoHead"></label>
			</td>
			<td><input type="text" name="geoHead" value=""
				data-dojo-type="dijit.form.TextBox" id="geoHead" /></td>
		</tr>
		<tr>
			<td><label id="sim_geoloc_velocity_label" for="geoVel"></label>
			</td>
			<td><input type="text" name="geoVel" value=""
				data-dojo-type="dijit.form.TextBox" id="geoVel" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<div id="geolocationMapDiv"></div></td>
		</tr>
	</table>
	<button data-dojo-type="dijit.form.Button" id="nextBtn" type="button"
		data-dojo-id="sim_geoloc_next_button"
		onClick="getService('Geolocation').updateGeolocation();"></button>
	<button data-dojo-type="dijit.form.Button" id="startStopBtn"
		type="button" data-dojo-id="sim_geoloc_startStop_button"
		onClick="getService('Geolocation').startStopTimer();"></button>
</div>
