

<!-- Control container -->
<div data-dojo-type="dijit.layout.ContentPane" region="leading"
	splitter="true" id="simControls" style="width: 350px;">
	<div data-dojo-type="dijit.TitlePane" toggleable="false"
		style="overflow: auto;" id="simControlsTitle" title="Cordova">

		<!-- Device -->
		<div data-dojo-type="dijit.TitlePane" title="Device" open="false"
			href="sim/device.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/device.js')"></div>

		<!-- Events -->
		<div data-dojo-type="dijit.TitlePane" title="Events" open="false"
			href="sim/events.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/events.js')"></div>

		<!-- Accelerometer -->
		<div data-dojo-type="dijit.TitlePane" title="Accelerometer" open="false"
			href="sim/accelerometer.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/accelerometer.js')"></div>
		<!-- end Accelerometer -->

		<!-- Battery -->
		<div data-dojo-type="dijit.TitlePane" title="Battery" open="false"
			href="sim/battery.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/battery.js')"></div>
		<!-- end Battery -->

		<!-- Camera -->
		<div data-dojo-type="dijit.TitlePane" title="Camera" open="false"
			id="cameraTitlePane" href="sim/camera.html" parseOnLoad="true"
			preload="true" onLoad="loadJavascript('sim/camera.js')"></div>
		<!-- end Camera -->

		<!-- Capture -->
		<div data-dojo-type="dijit.TitlePane" title="Capture" open="false"
			href="sim/capture.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/capture.js')"></div>
		<!-- end Capture -->

		<!-- Compass -->
		<div data-dojo-type="dijit.TitlePane" title="Compass" open="false"
			href="sim/compass.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/compass.js')"></div>
		<!-- end Compass -->

		<!-- Contacts -->
		<div data-dojo-type="dijit.TitlePane" title="Contacts" open="false"
			href="sim/contacts.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/contacts.js')"></div>
		<!-- end Contacts -->

		<!-- File -->
		<div data-dojo-type="dijit.TitlePane" title="File" open="false"
			href="sim/file.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/file.js')"></div>
		<!-- end File -->

		<!-- File Transfer Loaded in index.js
		<script type="text/javascript" src="sim/filetransfer.js">
			loadJavascript('sim/filetransfer.js');
		</script>
		-->
		<!-- end File Transfer -->

		<!-- Geolocation -->
		<div data-dojo-type="dijit.TitlePane" title="Geolocation" open="false"
			href="sim/geolocation.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/geolocation.js')"></div>
		<!-- end Geolocation -->

		<!-- Network -->
		<div data-dojo-type="dijit.TitlePane" title="Network" open="false"
			href="sim/network.html" parseOnLoad="true" preload="true"
			onLoad="loadJavascript('sim/network.js')"></div>
		<!-- end Network -->

	</div>

	<!-- Media -->
	<div id="sim_media_audioInfo"></div>
		<audio id="sim_media_audio" src="" > </audio>
	<!-- end Media -->
</div>
