
.form-2col, .form-1col {
	
}
	.form-2col .col {
		width: 49.5%;
		float: left;
	}
	.form-2col .col2 {
		float: right;
	}
	
.form-1col .col1{
	
}
.form-1collapsedcol label {
	display: inline-block;
    width: 18%;
    font-size:14px;
}
.form-list{
	margin:0;	
}

.form-1collapsedcol span {
   display: inline-block;
    font-weight: normal;
    margin-right: 0;
    padding-right: 5px;
    text-align: right;
    width: 30%;
    font-size:14px;
}
.form-list .ui-field-contain label.ui-input-text, .form-list .ui-field-contain label.ui-select {
	font-weight: bold;
	width: 38%;
}

.form-list .ui-field-contain input.ui-input-text, .form-list .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search{
	width:60%;	
}

.form-list .ui-field-contain .ui-select{
	width:60%;	
}
.form-list .field-value {
	float: right;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
}

.form-list label {
	 font-size:14px;	
}
.form-list input, select{
	//float: right;
	font-weight: normal;
	font-size:14px;
	text-align:right;
}
.form-list .ui-select span{
	font-weight: normal;
	font-size:14px;
	text-align:right;
}
label.ui-input-text, label.ui-select{
	font-size:14px;
}
.view-header {
	border-bottom:1px solid #ccc;
	max-width: 100%;
}
.view-header div {
	font-size:16px;
	font-weight:bold;	
}
.view-row ui-grid-b{
	font-weight:normal;
	font-size:16px;	
}
.view-list .view-row div, .assessed-view-list .view-row div{
    font-size: 16px;
    font-weight: normal;
}

.view-list .ui-block-a{
	width:35%;
}
.view-list .ui-block-b{
	width:23%;
}
.view-list .ui-block-c{
	width:35%;
}
.view-list .ui-block-d{
	width:7%;
}
.assessed-view-list .ui-block-a{
	width:10%;
}
.assessed-view-list .ui-block-b{
	width:85%;
}
#assessed-view-heading{
	 height: 3em;
	}
.assessed-view-list input{
	font-size:14px;
	color:#333;
	font-weight:normal;
}
.form-list-links a{
	font-size:14px;		
}
#mods-list-a{
	padding-top:0px;
	padding-bottom:0px;
}
#mods-list-a p{
	font-size:14px;
}

.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}

#add_icon.ui-btn-icon-notext {
    height: 26px;
    width: 26px;
}

#add_icon.ui-btn-corner-all {
    border-radius: 1.4em 1.4em 1.4em 1.4em;
}

#add_icon span.ui-icon, #add_icon span.ui-icon-searchfield:after {
    border-radius: 12px 12px 12px 12px;
}

#add_icon span.ui-icon {
	background-color: #414141;
    height: 20px;
    width: 20px;
}
#add_icon span.ui-btn-icon-notext #add_icon span.ui-btn-inner .ui-icon {
    float: left;
    margin: 2px 3px;
}

#add_icon.ui-btn-right {
    right: 15px;
}

canvas {
	border:1px solid #ccc;
	display:block;
	
}

#damagetype-ul{
	padding:10px;
	float:right
}

#damagetype-ul li{
	display: inline-block;
}
#damageBtn .ui-btn-inner{
	white-space: normal;
	padding: 0.2em 0.3em;	
	margin-bottom:5px;	
}
#damageBtn .ui-btn-text{
	font-size:12px;	
	
}

