
/* Stylesheet content from css/Motor_Vehicle_Assessment_Report_POC.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
body {
	height: auto;
	min-height: 100%;
	overflow: auto;
}

/*Worklight container div */
#content {
	height: auto;
	min-height: 100%;
	width: 100%;
}
